[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
treelib = "*"
setuptools = "*"
lxml = "*"
tinycss2 = "*"
pillow = "*"
rdflib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
